<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<section id="fh5co-projects">
  <div class="container">
  <div class="row">
  <div class="fh5co-left-position">
  <div class="col-md-5 col-sm-7 col-xxs-10 animate-box">

          <table>
              <tr valign="middle">
                  <td><img src="{{ user.avatar(128) }}"></td>
                  <td>
                      <h1>User: {{ user.nickname }}</h1>
                      {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                      {% if user.last_seen %}<p><i>Last seen on: {{ user.last_seen }}</i></p>{% endif %}
                      {% if user.gender %}<p>{{ user.gender }}</p>{% endif %}
                      {% if user.id == g.user.id %}<p><a href="{{ url_for('edit') }}">Edit</a></p>{% endif %}
                  </td>
              </tr>
          </table>
          <hr>


        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
